* {
  margin: 0;
}

.game {
  position: relative;
  width: 1920px;
  height: 1080px;
  background: #d1d523;
}

.state {
  position: absolute;
  width: 610px;
  height: 1080px;
  left: 1310px;
  top: 0px;
}

.terraformingRating {
  position: absolute;
  width: 96px;
  height: 968px;
  left: 423px;
  top: 61px;
  background: #12c0e7;
}

.oxygenSensor {
  position: absolute;
  width: 96px;
  height: 968px;
  left: 250px;
  top: 61px;
  background: white;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.oxygen {
  text-align: center;
  vertical-align: middle;
  font-size: 36px;
  position: relative;
  width: 96px;
  height: 64.5px;
}

.black {
  background: black;
  color: white;
}

.white {
  background: white;
  color: black;
}

.temperatureSensor {
  position: absolute;
  width: 96px;
  height: 968px;
  left: 77px;
  top: 61px;
  background: linear-gradient(180deg, #ff001f 0%, #2b3abd 100%);
}

.cards {
  position: absolute;
  width: 700px;
  height: 224px;
  left: 610px;
  top: 805px;
  background: #2cd53d;
}

.card {
  height: 260px;
  width: 190px;
  transition: transform 0.5s;
}

.card:hover {
  transform: scale(2);
}

.board {
  position: absolute;
  width: 700px;
  height: 700px;
  left: 610px;
  top: 61px;
  background: #432e3e;
}

.stats {
  position: absolute;
  width: 610px;
  height: 1080px;
  left: 0;
  top: 0;
}

.player1,
.player2,
.player3,
.player4 {
  position: absolute;
  width: 500px;
  height: 200px;
  left: 55px;
  top: 61px;
  background: white;
}

.player2 {
  top: 317px;
}
.player3 {
  top: 573px;
}
.player4 {
  top: 829px;
}
