* {
  margin: 0;
}

.game {
  position: relative;
  width: 1920px;
  height: 1080px;
  background: #d1d523;
}

.state {
  position: absolute;
  width: 610px;
  height: 1080px;
  left: 1310px;
  top: 0px;
}

.terraformingRating {
  position: absolute;
  width: 96px;
  height: 968px;
  left: 423px;
  top: 61px;
  background: #12c0e7;
}

.oxygenSensor {
  position: absolute;
  width: 96px;
  height: 968px;
  left: 250px;
  top: 61px;
  background: white;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.oxygen {
  text-align: center;
  vertical-align: middle;
  font-size: 36px;
  position: relative;
  width: 96px;
  height: 64.5px;
}

.black {
  background: black;
  color: white;
}

.white {
  background: white;
  color: black;
}

.temperatureSensor {
  position: absolute;
  width: 96px;
  height: 968px;
  left: 77px;
  top: 61px;
  background: linear-gradient(180deg, #ff001f 0%, #2b3abd 100%);
}

.cards {
  position: absolute;
  width: 700px;
  height: 224px;
  left: 610px;
  top: 805px;
  background: #2cd53d;
}
.card {
  height: 260px;
  width: 190px;
  transition: transform 0.5s;
}

.card:hover {
  transform: scale(2);
}
.board {
  position: absolute;
  width: 875px;
  height: 875px;
  left: 450px;
  top: 102px;
  background-image: url(assets/SolisPlanum.jpg);
}
.row {
  display: flex;
  width: 100%;
  height: 20%;
}

.cell,
.empty {
  width: 20%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
  border: white solid 2px;
  box-sizing: border-box;
}

.legalMove {
  border: outset lime 8px;
}
.forest {
  background-image: url(assets/forest.png);
  background-size: cover;
}

.city {
  background-image: url(assets/city.png);
  background-size: cover;
}
.stats {
  position: absolute;
  width: 378px;
  height: 1080px;
  left: 0;
  top: 0;
}

.player1,
.player2,
.player3,
.player4 {
  position: absolute;
  width: 323px;
  height: 200px;
  left: 55px;
  top: 61px;
  background: white;
}

.player2 {
  top: 317px;
}
.player3 {
  top: 573px;
}
.player4 {
  top: 829px;
}
.production-modal , .action-modal{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.482);
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.production-modal{
  display: none;
}

.action-modal{
  display: none;
  justify-content: center;
  align-items: center ;
  margin: auto;
}

.current-player-stats {
  position: absolute;
  background-color: grey;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 10%;

}

.card-display {
  display: flex;
  position: absolute;
  height: 60%;
  top: 20%;
  width: 65% ;
  top: 270px;
  left: 190px;
  background-color: grey;
  padding: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.card{
  height: 205px;
  width: 150px;
  background-color: white;
  border: 1px solid black;
  margin: 2px;
}

.resource-display {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end ;
  height: 90%;
  width: 24.25%;
  margin: 2px;

}

.resource-name {
  position: absolute;
  height: 100%;
  width: 100%;
  border: 1px solid black;
  text-align: center;
  font-size: 1.75rem;
}



.current, .rate {
  display: flex;
  position: relative;
  height: 70%;
  width: 48%;
  margin: .25%;
  justify-content: center ;
  align-items: flex-end ;
  font-size: 2.5rem;
}

.resource-number-header{
  background-color: none;
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  font-size: 1.5rem;
}

.modal-body{
  width: 90%;
  height: 90%;
  background-color: rgb(255, 255, 255);
}
.modal-title {
  background-color: rgb(88, 79, 255);
  text-align: center;
}
.modal-player {
  width: 300px;
  height: 400px;
  background-color: rgb(92, 92, 92);
  margin-top: 20px;
}
.modal-stats {
  margin-top: 20px;
  width: 300px;
  height: 820px;
  background-color: rgb(92, 92, 92);
}
.modal-contents {
  display: flex;
  justify-content: space-evenly;
  /* align-items: center; */
}
.production-modal-button {
  position: absolute;
  width: 200px;
  height: 80px;
  left: 1580px;
  top: 940px;
  background: #c4c4c4;
  text-align: center;
  font-size: 2rem;
}

.global-stats {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 60%;
  width: 7.5%;
  margin: 2px;
  top: 270px;
  left: 1600px;
  background-color: gray;
  padding: 10px
}

.global {
display: flex;
flex-direction: column;
justify-content: space-evenly;
position: relative;
height: 15%;
width: 80%;
background-color:darkslategray;
text-align: center;
font-size: 1rem;
}

.global > p{
font-size: 1.5rem;
}

#pass-button {
  background-color: red;
}
